<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MyBatis配置-->
<configuration>
    <properties resource="jdbc.properties"/>
<!--    <typeAliases>-->
<!--        <typeAlias type="com.qf.pojo.Emp" alias="Emp"/>-->
<!--        <typeAlias type="com.qf.pojo.Dept" alias="Dept"/>-->
<!--        <typeAlias type="com.qf.pojo.Account" alias="Account"/>-->
<!--    </typeAliases>-->
    <environments default="MySqlDB">
        <!--MySql数据库环境配置-->
        <environment id="MySqlDB">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <!--连接池-->
            <dataSource type="org.apache.ibatis.datasource.pooled.PooledDataSourceFactory">
                <property name="driver" value="${jdbc.driver}"/>
                <!-- &转义&amp; -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
<!-- mappers映射-->
    <mappers>
        <mapper resource="EmpMapper.xml"/>
        <mapper resource="AccountMapper.xml"/>
    </mappers>

</configuration>